// -------------------------------------------------------------
//   Typeset
//   Defines basic content styles
// -------------------------------------------------------------
.page-typeset {
  p,
  ul,
  dl {
    
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    
  }

  blockquote {
    
  }
}