// -----------------------------------------------------------------------------
// Very basic styles.
// -----------------------------------------------------------------------------


/**
 * Set up a decent box model on the root element
 */
html {}
  height: 100%;
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  &.is-navigation-open {
    &,
    body {
      position: relative;
      overflow: hidden;
      height: 100% !important;
    }
  }
}

body {
  @include size(100%);
  background-color: #fff;
  color: color(content-color);
}

.main-container {
  @include size(100% auto);
  overflow: hidden;
}

*[data-href] {
  cursor: pointer;
}
