@function color($color) {

  @if map-has-key($colors, $color) {
    $color: map-get($colors, $color);
  } @else {
    @if type-of($color) != colour {
      @error "Colour name: `#{$color}` not found.";
    }
  }

  @return $color;
}

@function convert-units($number, $unit) {
  $strings: "px", "cm", "mm", "%", "ch", "pica", "in", "em", "rem", "pt", "pc", "ex", "vw", "vh", "vmin", "vmax", "deg", "rad", "grad", "turn";
  $units:   1px, 1cm, 1mm, 1%, 1ch, 1pica, 1in, 1em, 1rem, 1pt, 1pc, 1ex, 1vw, 1vh, 1vmin, 1vmax, 1deg, 1rad, 1grad, 1turn;
  $index: index($strings, $unit);

  @if not $index {
    @warn "Unknown unit `#{$unit}`.";
    @return false;
  }

  @if type-of($number) != "number" {
    @warn "`#{$number} is not a number`";
    @return false;
  }

  @return $number * nth($units, $index);
}

/// Fetch nested keys
/// @param {Map} $map - Map
/// @param {Arglist} $keys - Keys to fetch
/// @return {*}
@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }

  @return $map;
}


@mixin track-fonts($family, $weight, $style:normal) {
  // First check if we already knew this one:
  @if map-has-key($base-font-stack, $family) == false {
    // Font-family isn't in the map yet, so add it.
    // The key for the nested map is the font name:
    $base-font-stack: map-merge($base-font-stack, ($family: ())) !global;
  }

  // Now check if this weight and style are known,
  // using Google's "400italic" notation.
  // If style is "normal", only use the weight:
  $weight-style: if($style == normal, $weight, #{$weight}#{$style});
  $font-map: map-get($base-font-stack, $family);
  @if index($font-map, $weight-style) == null {
    // Weight and style aren't in the map yet, so add it:
    $variations: append($font-map, $weight-style);
    $base-font-stack: map-merge($base-font-stack, ($family: $variations)) !global;
  }
}


/// Font styling shorthand
///
/// @param {String} $name
/// @param {String} $id
/// @param {Map} $properties
/// @param {Map} $font-stack (optional)
///
/// @example
///  @include font(helvetica, regular);
///
/// @requires {function} font-properties
@mixin font($name, $id: regular, $properties: family weight style, $font-stack: $base-font-stack){
  $font-properties: map-deep-get($font-stack, $name, $id);

  @if $font-properties {
    //@include track-fonts($name, $id);
    @each $key, $values in $font-properties {
      @if contains($properties, $key) {
        font-#{$key}: map-get($font-properties, $key);
      }
    }
  }
}


/// Make type rendering look crisper
@mixin font-smoothing($on: true) {
  @if $on {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  } @else {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}
