
html {
  @include font-smoothing; /* 1 */
  font-size: strip-units($base-font-size) / 16 * 100%; /* 2 */
}

body {
  @include font(poppins, regular);
  line-height: $base-line-height;
}

/// Links
a {
  cursor: pointer;
  color: color(content-link);
  text-decoration: none;
  transition: color 0.15s, background-color 0.15s;

  &:hover,
  &:focus,
  &:active {
    color: shade(color(content-link), 40%);
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  @include font(playfair, bold);
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }
