
/**
 * Base settings
 */
$base-url: '../assets/';
$base-font-size: 14px;
$base-line-height: 1.875;


$site-border: 20px;

/**
 * Overrides default-colors palette
 */
$colors: (
  // Brand
  brand-white: #f7f7f7,
  brand-black: #1b172d,
  brand-blue: #00B1DC,
  brand-gold: #d51111,
  brand-grey: #353534,

  // Body
  content-color: #1e1e1e,
  content-text: #7a7a7a,
  content-heading: #1e1e1e,
  content-highlight: #1b172d,
  content-link: #d51111,

  // Social
  social-twitter  : #55acee,
  social-facebook : #3b5998,
  social-linkedin : #0085af,

  // Alert
  alert-valid: #07a778,
  alert-warning: orange,
  alert-error: #ff0000,
);

$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;

/**
 * Font-stack declaration
 */
$base-font-stack: (

  playfair: (
    regular: (
      family: ("Playfair Display", serif),
      weight: 400,
      style: normal,
      cap-height: 0.625
    ),
    bold: (
      family: ("Playfair Display", serif),
      weight: 700,
      style: normal,
      cap-height: 0.625
    ),
  ),

  poppins: (
    regular: (
      family: ("Poppins", Helvetica, Arial, sans-serif),
      weight: 400,
      style: normal,
      cap-height: 0.625
    ),
    semibold: (
      family: ("Poppins", Helvetica, Arial, sans-serif),
      weight: 500,
      style: normal,
      cap-height: 0.625
    ),
    bold: (
      family: ("Poppins", Helvetica, Arial, sans-serif),
      weight: 700,
      style: normal,
      cap-height: 0.625
    ),
  ),
);


/**
 * Grid
 */
$xs: new-breakpoint(min-width 0 12);
$sm: new-breakpoint(min-width 576px 12);
$md: new-breakpoint(min-width 768px 12);
$lg: new-breakpoint(min-width 992px 12);
$xl: new-breakpoint(min-width 1200px 12);
