
// Button
// =============================================================================

*[type="button"],
*[type="submit"] {

  @include position(relative, null null null null);
  @include font(poppins, bold, weight);

  display: inline-block;
  padding: 17px 30px;
  font-size: .75rem;
  line-height: 1;
  letter-spacing: .08em;
  text-transform: uppercase;
  text-decoration: none;
  color: color(content-link);

  //background: color(content-link);
  outline: none;
  cursor: pointer;
  z-index: 1;

  &:hover{
    text-decoration: none;
  }

  &[layout="underline"]{
    @include font(poppins, bold);
    padding: 0;
    font-size: rem(16px);
    line-height: 1.5;
    text-transform: none;
    letter-spacing: normal;

    &::after {
      @include position(absolute, null null -5px 0);
      @include size(100% 2px);
      display: block;
      content: '';
      background-color: #fff;
    }

    &:hover,
    &:focus {
      &::after {
        animation: redrawn 0.4s $ease-out-quad both;
      }

      @for $i from 0 through 10 {
        &:nth-child(#{$i}) {
          &::after {
            animation-delay: ($i - 1) * 0.05s;
          }
        }
      }
    }
  }

}
