*[hero-slider]{
  @include position(fixed, 0 null null 0);
  @include size(100%);
  z-index: -1;
  opacity: .7;

  .hero-slide{
    @include position(absolute, 0 0 0 0);

    &.hide {
      -webkit-mask: url(../images/sprite-2.png);
              mask: url(../images/sprite-2.png);
      -webkit-mask-size: 3100% 100%;
              mask-size: 3100% 100%;
      -webkit-animation: mask-play 1s steps(30) forwards;
              animation: mask-play 1s steps(30) forwards;
    }

    // &.hide {
    //   -webkit-mask: url(../images/sprite-1.png);
    //           mask: url(../images/sprite-1.png);
    //   -webkit-mask-size: 2600% 100%;
    //           mask-size: 2600% 100%;
    //   -webkit-animation: mask-play 1s steps(25) forwards;
    //           animation: mask-play 1s steps(25) forwards;
    // }



  }
}
