// -------------------------------------------------------------
//   Grid settings
//   Set breakpoints in global variables
// -------------------------------------------------------------
.container {
	@include margin(null auto);
	@include clearfix;
	position: relative;
}
.row {
  
}
.col {
  
}